{
  "presets": [
    [
      "next/babel"
    ]
  ],
  "plugins": [
    ["react-css-modules", {
      "generateScopedName": "[local]__[hash:base64:5]",
      "exclude": "node_modules",
      "filetypes": {
        ".scss": {
          "syntax": "postcss-scss"
        }
      }
    }]
  ]
}
